.about {
  display: flex;
  align-items: center;
  gap: 170px;
  &-text {
    h3 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 48px;
      line-height: 80px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #8f95a5;
    }
  }
  &-img {
    img {
      width: 1600px;
      height: 500px;
    }
    h3 {
      display: none;
    }
  }
}
.about__info {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 162px;

}

.about__info-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #2a3246;
}

.about__info-name {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}

.about__info-name,
.about__info-title {
  display: block;
  text-align: center;
}
@media (max-width: 1070px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    &-text {
        order: 2;
      padding: 10px 10px 20px 10px;
      h3 {
        font-family: Poppins;
        font-weight: 500;
        font-size: 36px;
        line-height: 24px;
      }
      p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
       
      }
    }
    .about__info {
      display: flex;
      align-items: center;
     
      justify-content: center;
      gap: 52px;
    }

    .about__info-title {
      font-family: Poppins;
      font-weight: 600;
      font-size: 38px;
      line-height: 80px;
      color: #2a3246;
    }

    .about__info-name {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: #8f95a5;
    }

    .about__info-name,
    .about__info-title {
      display: block;
    }

    &-img {
      h3 {
        display: block;
        font-family: Poppins;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        text-align: center;
      }
    }
    &-text {
      h3 {
        display: none;
      }
    }
  }
}

@media(max-width:760px){
  .about{
    .about__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 52px;
      }
  
  }
}